fastapi>=0.100.0
uvicorn>=0.22.0
pymongo>=4.3.3
minio>=7.1.15
python-jose[cryptography]>=3.3.0
passlib>=1.7.4
sentence-transformers>=2.2.2
qdrant-client>=1.7.0
openai>=1.0.0
python-dotenv>=1.0.0
pypdf>=3.17.0
torch
python-multipart>=0.0.6
